<div class="mainbody">
  <mat-card>
    <mat-card-header>
      <img src="assets/images/meetandgreetlogo.jpg" alt="banner" class="responsive">
    </mat-card-header>
    <form [formGroup]="loginForm" >
      <div class="example-container">
        <div class="flex-wrap">
          WELCOME
        </div>
          <div class="flex-wrap-sec">
          <mat-form-field class="width-100" appearance="outline">
            <mat-icon matPrefix>account_circle</mat-icon>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter your Username" formControlName="username" type="text">
            <mat-error *ngIf="loginForm.controls.username.hasError('required')">
              Username is required
            </mat-error>
            <mat-error *ngIf="loginForm.controls.username.hasError('minlength')">
              Username must be at least 6 characters long
            </mat-error>
          </mat-form-field>
          <mat-form-field class="width-100" appearance="outline">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" #password formControlName="password" type="password">
            <mat-error *ngIf="loginForm.controls.password.hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">
              Password must be at least 8 characters long
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="errorMessage" class="error-field">
          <div *ngIf="errorMessage">{{errorMessage}}</div>
        </div>
        <div class="flex-wrap-sec">
          <button class="width-100" mat-raised-button color="primary" [disabled]="loginForm.invalid"
            (click)="onSubmit()">Login</button>
          <a class="width-100" mat-raised-button routerLink="/authentication/register">Register</a>
        </div>
      </div>
    </form>
  </mat-card>
</div>