<div class="main-body">

    <mat-card>

        <form *ngIf="loaded" [formGroup]="editprofileForm">
            <div class="example-container">

                <div class="flex-wrap-sec">
                    <div *ngIf="errorMessage" class="error-field">
                        <div *ngIf="errorMessage">{{errorMessage}}</div>
                      </div>
                      <h2>Edit your Profile!</h2>
                </div>
                <div class="flex-wrap-sec">
                    <mat-form-field appearance="outline" class="width-50">
                        <mat-icon matPrefix>face</mat-icon>
                        <mat-label>Name</mat-label>
                        <input matInput #name formControlName="name" placeholder="enter your name">
                        <mat-error *ngIf="editprofileForm.controls.name.hasError('required')">
                            Name is a required field
                        </mat-error>
                        <mat-error *ngIf="editprofileForm.controls.name.hasError('minlength')">
                            Name must be at least 6 characters long
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="width-50">
                        <mat-icon matPrefix>school</mat-icon>
                        <mat-label>Department</mat-label>
                        <input matInput #department formControlName="department" placeholder="enter your department">
                        <mat-error *ngIf="editprofileForm.controls.department.hasError('required')">
                            Department is a required field
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="width-50">
                        <mat-icon matPrefix>email</mat-icon>
                        <mat-label>Email</mat-label>
                        <input matInput #email formControlName="email" type="email" placeholder="Ex. name@example.com">
                        <mat-error *ngIf="editprofileForm.controls.email.hasError('required')">
                            Email address is a required field.
                        </mat-error>
                        <mat-error *ngIf="editprofileForm.controls.email.hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="width-50">
                        <mat-icon matPrefix>phone</mat-icon>
                        <mat-label>Contact Number</mat-label>
                        <input #contactNumber type="tel" matInput formControlName="contact"
                            placeholder="555-555-1234">
                        <mat-error *ngIf="editprofileForm.controls.contact.hasError('required')">
                            Contact Number is a required field.
                        </mat-error>
                        <mat-error *ngIf="editprofileForm.controls.contact.hasError('pattern')">
                            Enter valid contact number.
                        </mat-error>
                    </mat-form-field>
                </div>
              
                <button mat-raised-button color="primary" type="submit" (click)="onUpdate()"
                    [disabled]="editprofileForm.invalid">Update</button>
            </div>   
        </form>


        
    </mat-card>

</div>