<div class="main-body">
<mat-card>
    <mat-card-header>
       
    </mat-card-header>
    <form *ngIf="loaded" [formGroup]="addeditinterestsForm">
        <div class="example-container">
            
            <div class="flex-wrap">
                <div *ngIf="errorMessage" class="error-field">
                    <div *ngIf="errorMessage">{{errorMessage}}</div>
                  </div>
                <h2>Edit your interests!</h2><sub style="color: red;">*</sub>
            </div>
            <div class="flex-wrap-sec">
                <mat-form-field appearance="outline" class="width-25">
                    <mat-label>Sports</mat-label>
                    <mat-select #sports formControlName="sports" multiple>
                        <mat-select-trigger>
                            {{sports.value ? sports.value[0] : ''}}
                            <span *ngIf="sports.value?.length > 1" class="example-additional-selection">
                                (+{{sports.value.length - 1}}
                                {{sports.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let sport of sportsList" [value]="sport">{{sport}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="width-25">
                    <mat-label>Academics</mat-label>
                    <mat-select #academics formControlName="academics" multiple>
                        <mat-select-trigger>
                            {{academics.value ? academics.value[0] : ''}}
                            <span *ngIf="academics.value?.length > 1" class="example-additional-selection">
                                (+{{academics.value.length - 1}}
                                {{academics.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let academics of academicsList" [value]="academics">
                            {{academics}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="width-25">
                    <mat-label>Activities</mat-label>
                    <mat-select #activities formControlName="activities" multiple>
                        <mat-select-trigger>
                            {{activities.value ? activities.value[0] : ''}}
                            <span *ngIf="activities.value?.length > 1" class="example-additional-selection">
                                (+{{activities.value.length - 1}}
                                {{activities.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let activities of activitiesList" [value]="activities">
                            {{activities}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="width-25">
                    <mat-label>Musical Instruments</mat-label>
                    <mat-select #musicalInstruments formControlName="musicalInstruments" multiple>
                        <mat-select-trigger>
                            {{musicalInstruments.value ? musicalInstruments.value[0] : ''}}
                            <span *ngIf="musicalInstruments.value?.length > 1" class="example-additional-selection">
                                (+{{musicalInstruments.value.length - 1}}
                                {{musicalInstruments.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let musicalInstruments of musicalInstrumentsList"
                            [value]="musicalInstruments">{{musicalInstruments}}</mat-option>
                    </mat-select>   
                </mat-form-field>
            </div>

            <div class="flex-wrap-sec">
                <div class="radio-class">
                    <label id="example-radio-group-label">
                        <h3>Would you like to
                            volunteer?</h3>
                    </label>
                </div>
                <div class="radio-class">
                    <mat-radio-group (change)="onRadioChange($event, 'is_volunteer')"
                        aria-labelledby="example-radio-group-label" formControlName="is_volunteer" [(ngModel)]="isVolunteer">
                        <mat-radio-button value="true">Yes</mat-radio-button>&nbsp;
                        <mat-radio-button value="false"> No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-form-field appearance="outline" class="width-25">
                    <mat-label>volunteer</mat-label>
                    <mat-select #volunteer formControlName="volunteer_interests" multiple>
                        <mat-select-trigger>
                            {{volunteer.value ? volunteer.value[0] : ''}}
                            <span *ngIf="volunteer.value?.length > 1" class="example-additional-selection">
                                (+{{volunteer.value.length - 1}}
                                {{volunteer.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let item of volunteer_interests" [value]="item">{{item}}</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="addeditinterestsForm.controls.is_volunteer && addeditinterestsForm.controls.volunteer_interests.hasError('required')">
                        Select atleast one
                    </mat-error>
                </mat-form-field>
            </div>
        
        
            <button mat-raised-button color="primary" type="submit" (click)="onUpdate()"
            [disabled]="addeditinterestsForm.invalid||volunteer_interests.length<1">Update</button>
        
        </div>
    </form>
</mat-card>



</div>
