.main-body{
    background-image: url('../../../../assets/images/blurbackground.jpg');
      justify-content: center;
      background-position: center;
      display: flex;
      align-items: flex-start;
      height: 100vh;
  }
  mat-card{
    width: 65%;
    height: auto;
    background: #ffffffa3;
    top: 50px;
    .responsive{
      max-width: 100%;
      height: auto;
    }
    .mat-card-header {
      flex-direction: row;
      background: #191719;
      display: flex;
      align-items: center;
      justify-content: center;
  }
    }
  
  button,a {
    min-width: 150px;
    border-radius: 0.2em;
    width: 100%;
    padding: 0.5% !important;
    background-color: #3f51b5;
    font-size: 1.2em;
    color: #fff !important;
  }
  .flex-wrap-sec{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 15px 0;
  }
  .flex-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .example-radio-button{margin-left: 7px;}
  mat-grid-tile {
    background:#fafafa;
    padding-top: 1rem;
  }
  ::ng-deep .mat-card-header-text {
    margin: 0px !important;
  }
  .mat-form-field{
    min-width: 120px;
    margin: 0px 20px;
  }
  .width-50{
    width: 45%;
  
  }
  .ml-1{margin-left: .5%;}
  .ml-2{margin-left: 2%;}
  .width-100{width: 100%;}
  .width-25{width: 20%;}
  .radio-class{
    margin: 10px;
    padding-top: 10px;
  }
  @media only screen and (max-width: 1231px) {
    .main-body{
       height: unset;
    }
  }
  
  .error-field{
    color: #ff0404;
    padding: 12px 9px;
    margin: 2px auto -12px;
    font-size: 14px;
    font-weight: 500;
    border-color: rgba(241, 97, 104, 0.2);
    width: fit-content;
  }