
<div class="main-body">
  <mat-card>
    <form [formGroup]="announcementForm" (ngSubmit)="onAnnounce()">
        <div class="flex-wrap">
          <mat-form-field appearance="outline" class="drop">
            <mat-label>Select me</mat-label>
            <mat-select #interest formControlName="interest">
              <div *ngFor="let interest of interests">
                <mat-option value={{interest}}>{{interest}}</mat-option>
              </div>
            </mat-select>
            <mat-error *ngIf="announcementForm.controls.interest.hasError('required')">
              Atleaset one interest is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="text-area">
            <mat-label>Don't hesitate, say it out loud.</mat-label>
            <textarea matInput placeholder="Musical Event next Monday" class="with" formControlName="announcement"
              type="text"></textarea>
            <mat-error *ngIf="announcementForm.controls.announcement">
              Announcement must be atleast 5 characters
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex-wrap">
          <button mat-raised-button color="primary" (click)="openSnackBar('Announcement created!', 'x')"
            [disabled]="announcementForm.invalid">Publish</button>
        </div>
    </form>
  </mat-card>
</div>
